.el-header {
  padding: 0;
}

.el-main {
  padding: 0;
}

.el-dialog {
  border-radius: 5px;
}

.el-table {
  border-radius: 5px;
}

.header-group {
  display: flex;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid var(--el-border-color);
}
